/* font */
h1,h2,h3,h4,h5,h6{
    font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* navbar */
nav {
    background-color: rgb(104, 218, 253);
    height: 10vh;
}

.buttonCollaps {
    color: white;
}

.navbarcollaps {
    background-color: rgb(104, 218, 253);
}


.logo {
    height: 50px;
    
}
/* header */
h1{
    
}

.ul-social {
    text-decoration: none;
    list-style: none;
    align-items: center;
    height: 10vh;
}

.row-header{
    justify-content: space-around;
}

.carousel-height {
    height: 60vh;
    
}

/* form */
form {
    border-radius: 25px;
}

/* mediaquery */




