/* font */
h1,h2,h3,h4,h5,h6{
    font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* body */
body{
    background-color: rgb(255, 254, 250);
}
/* navbar */
nav {
    background-color: rgb(104, 218, 253);
    height: 10vh;
}

.buttonCollaps {
    color: white;
}

.navbarcollaps {
    background-color: rgb(104, 218, 253);
}


.logo {
    height: 50px;
    
}

/* h1:hover {
    color: rgb(185, 29, 29);
} */
/* header */
h1{
    
}

.ul-social {
    text-decoration: none;
    list-style: none;
    align-items: center;
    height: 10vh;
}

.row-header{
    justify-content: space-around;
}

.carousel-height {
    
}

/* .carousel-custom {
    height: 60vh;
} */

.border-custom {
    border-radius: 25px;
}

.img-custom {
    border-radius: 25px;
}


/* form */
form {
    border-radius: 25px;
}

.button-color {
    background-color: rgb(104, 218, 253);
    color: white;
}

/* mediaquery */




